@import '../../../../scss/variables.scss';
@import '../../../../scss/fontFamily.scss';

.hisenseScreen {
  .bulletPoints {
    margin: 50px 0 75px;
  }
  .bulletPoints h2,
  .section-heading {
    color: $link-gray;
    font-weight: 700;
    font-family: $RobotoBold;
    font-size: 30px;
    margin: auto auto 40px;
    text-align: center;
  }
  .mainLandingSection {
    .content-wrapper {
      .content {
        p {
          font-size: 26px;
          font-family: $RobotoRegular;
          line-height: 35px;
          &:last-child {
            margin: 0 0 40px;
          }
        }
      }
      img {
        height: 60px;
      }
    }
  }
}
