@import '../../../../scss/variables.scss';
.drp {
  position: absolute;
  top: 40%;
  z-index: 100;
  .list-group-item {
    display: flex;
    align-items: center;
    .dropdown-link {
      font-size: 15px;
    }
  }
}
.icon {
  margin-top: -8px;
}

@media screen and (min-width: 992px) {
  .drp {
    position: absolute;
    top: 75%;
    z-index: 100;
  }
}