@import '../../../../scss/variables.scss';
@import '../../../../scss/fontFamily.scss';

.defaultHeader {
  padding: 0 !important;
  background-color: #ffffff00;
  transition: 0.3s;
  width: 100%;
  div.container-75 {
    display: flex !important;
    align-items: center !important;
  }
  .navbar-collapse {
    padding: 0 0 15px 50px;
    .navbar-nav a {
      padding: 15px;
    }
  }
  .w-25 {
    width: 300px !important;
  }
  a.nav-link {
    padding: 0;
  }
  a img {
    width: 200px;
    height: 100px;
    object-fit: contain;
  }
}
.colored {
  background-color: #ffffff;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
