@import '../../../../scss/variables.scss';
@import '../../../../scss/fontFamily.scss';

// .nav-link {
//   display: inline-block;
//   padding: 0.5rem 1rem;
//   color: #0d6efd;
//   text-decoration: none;
//   transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
// }
.defaultHeader .container-75{
  margin: 0 10px;
}

.show-book-service-link{
 display: none;
}


@media only screen and (max-width:360px){
  .defaultHeader .container-75{
    width: unset;
    max-width: unset;
    margin: 0;
  }

  .hide-book-a-service{
    display: none;
  }

  .show-book-service-link{
    display: block;
  }
}

@media only screen and (max-width: 991px) {
  .collapse.show{
    background-color: rgba(134, 134, 134, 0.65);
  }
  .collapse.show a{
    color:white !important;
  }
}



.navbar-toggler{
  margin: 0 10px;
  margin-top: 0px;
  font-size: 17px;
  padding: 9px;
  margin-top: -12px;
}
.defaultHeader {
  .hisenseScreenHeader {
    display: flex;
    align-items: center;
    a.nav-link {
      margin: 0 20px;
      .phone-icon {
        width: 20px;
        height: 20px;
        object-fit: contain;
      }
    }
  }
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 !important;
  background-color: transparent;
  transition: 0.8s;
  width: 100%;
  z-index: 9999;
  justify-content: space-around;
  div.container-75 {
    display: flex !important;
    align-items: center !important;
    flex-wrap: wrap !important;
  }
  .navbar-collapse {
    padding: 0 0 15px 50px;
    .navbar-nav a {
      padding: 15px;
    }
  }
  .w-25 {
    width: 300px !important;
  }
  a.nav-link {
    font-size: 15px;
    padding: 0;
  }
  .nav-link.white-nav-link {
    color: white;
    font-family: $RobotoBold;
  }
  a img {
    width: 200px;
    height: 100px;
    object-fit: contain;
  }
}
.colored {
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 #ded5d5, 0 0 2px 0 #eff1e9;
}

// @media screen and (min-width: 992px) {

//   .nav-text{
//       display: flex !important;
//       align-items: center !important;
//     }

// }
// @media only screen
// and (min-width : 870px)
// and (max-width : 991px) {
//   .navbar-light .navbar-toggler {
//     margin-left: 60% !important;
// }
// }

// @media only screen
// and (min-width : 774px)
// and (max-width : 871px) {
//   .navbar-light .navbar-toggler {
//     margin-left: 55% !important;
// }
// }

// @media only screen
// and (min-width : 638px)
// and (max-width : 775px) {
//   .navbar-light .navbar-toggler {
//     margin-left: 45% !important;
// }
// }

// @media only screen
// and (min-width : 450px)
// and (max-width : 639px) {
//   .navbar-light .navbar-toggler {
//     margin-left: 20% !important;
// }
// }
// @media only screen and (max-width : 449px){
//   .navbar-light .navbar-toggler {
//     margin-left: 10% !important;
//   }
//   .defaultHeader a img {
//     width: 150px;
//   }
// }
@media only screen and (max-width:1024px){
  .defaultHeader .navbar-collapse {
    padding: 0;
  }
}

@media only screen and (max-width:768px){
  .hide-book-a-service{
    display: none;
  }

  .show-book-service-link{
    display: block;
  }
}


