.single-answer-component-wrapper{
    max-width: 400px;
    margin: 0 auto;
    padding: 0 15px;
}

.single-answer-component-wrapper .answer-content:disabled{
    opacity: 0.5;
    cursor: unset !important;
}

.single-answer-component-wrapper .answer-content{
    margin: 0 15px;
    margin-bottom: 10px;
    padding: 15px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: solid 1px #eceef1;
    border-radius: 10px;
    -webkit-box-shadow:  0 2px 6px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: normal;
    color: #46475c;
    text-align: left;
    /* outline-color: red; */
    display: block;
    background: #fff;
    margin: 20px 0;
    width: 100%;
    border: solid 1px rgba(218, 220, 228, 0.06);
}

.single-answer-component-wrapper .answer-content .price, .multiple-answer-component-wrapper .answer-content .price{
    color: red;
    font-size: 14px;
    color: #bbb;
    display: inline-block;
    margin-left: 10px;
}

.single-answer-component-wrapper .answer-content.with-image{
    max-height: 60px;
    min-height: 60px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
}

.single-answer-component-wrapper .answer-content.with-image img{
    margin-right: 10px;
}

.single-answer-component-wrapper .answer-content.with-image span{
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: -0.12px;
    color: #9297a3;
}

.single-answer-component-wrapper .answer-content.with-image{
    -ms-flex-pack: justify;
        justify-content: space-between;
}

.single-answer-component-wrapper .answer-content.with-image .img-single{
    height: 25px;
    float: right;
    margin: 0;
}

.multiple-answer-component-wrapper{
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #e1e5e5;
    margin-bottom: 20px;
    padding-top: 5px;
    border-radius: 6px;
    padding: 12.5px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: normal;
    color: #46475c;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px rgba(218, 220, 228, 0.06);
    background: #ffffff;
    display: block;
    text-align: left;
    /* outline-color: red; */
}

@media (max-width: 700px) {
    .multiple-answer-component-wrapper{
        outline: none;
    }
}
@media (max-width: 360px) {
    .single-answer-component-wrapper .answer-content{
        font-size: 14px;
        padding: 15px 10px;
    }
}

.multiple-answer-component-wrapper .selection-inidicator{
    display: inline-block;
    text-align: center;
    margin-right: 16px;
    vertical-align: top;
}

.multiple-answer-component-wrapper .selection-inidicator .check-img{
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid transparent;
    vertical-align: middle;
}

.multiple-answer-component-wrapper .selection-inidicator span{
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #e1e5e5;
    vertical-align: middle;
}

.multiple-answer-component-wrapper .answer-content{
    display: inline-block;
    position: relative;
    top: 2px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: calc(100% - 50px);
}

.single-answer-component-wrapper .answer-content:hover, .multiple-answer-component-wrapper:hover{
    cursor: pointer;
}

.discount-icon-badge{
    display: inline-block;
    margin-left: 5px;
    background: #12ffcd;
    border-radius: 9px;
    padding: 0 10px;
    color: #017aff;
}

.price-with-line{
    display: inline-block;
    margin-left: 5px;
    color: #000 !important;
    position: relative;
    font-size: 12px !important;
}

.price-with-line:after {
    content: " ";
    position: absolute;
    border-bottom: 2px solid #017aff;
    height: 0;
    top: 50%;
    left: -3px;
    right: -3px;
    -webkit-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
            transform: rotate(25deg);
}

.discount-icon-badge{
    font-size: 12px !important;
    line-height: 19px;
}
.discount-icon-badge img{
    margin-right: 7px !important;
    position: relative;
    top: 1px;
}
.discount-icon-badge span{
    color: #017aff !important;
    font-size: 12px;
}

.single-answer-component-wrapper .single-answer-bage{
    position: absolute;
    top: 0;
    right: 0;
}

.single-answer-component-wrapper label:hover{
    cursor: pointer;
}

.with-selection-term{
    border: 2px #017aff solid !important;
}

.single-answer-component-wrapper .answer-content .color-box{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 12px;
    right: 20px;
    border-radius: 50%;
}


.chance-box-wrapper{
    padding: 0 10px;
    padding-top: 100px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.chance-box-wrapper img{
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.chance-box-wrapper p{
    margin:0;
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: center;
    color: #48465c;
}

.chance-box-wrapper b p{
    font-family: "Circular-Pro-Bold";
}

.special-offer-banner-wrapper{
    position: fixed;
    bottom: 50px;
    z-index: 10;
}

.special-offer-banner{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    left: -400px;
    padding: 20px 40px;
    width: 229px;
    text-align: center;
    border-radius: 0 25px 25px 0;
    color: #fff;
    font-size: 22px;
    -webkit-box-shadow: 18px 14px 27px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 18px 14px 27px 0 rgba(0, 0, 0, 0.3);
    background-color: #017aff;
    position: relative;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.special-offer-active{
    left: 0px;
}

.special-offer-banner-wrapper .confetti-wrapepr{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}

.empty-text-title-header{
    height: 70px;
}

@media (max-width: 700px) {
    .empty-text-title-header{
        height: 0px;
    }

    .chance-box-wrapper img{
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
    }

    .chance-box-wrapper{
        padding-top: 20px;
        margin-bottom: 31px;
    }
    .chance-box-wrapper p{
        padding: 0px 10px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        font-size: 24px;
    }

    .special-offer-banner-wrapper{
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        left:0;
        z-index: 10;
    }

    .special-offer-banner{
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 100%;
        top: -200px;
        left: 0;
        text-align: center;
        border-radius: 0;
        color: #fff;
        font-size: 22px;
        -webkit-box-shadow: 18px 14px 27px 0 rgba(0, 0, 0, 0.3);
                box-shadow: 18px 14px 27px 0 rgba(0, 0, 0, 0.3);
        background-color: #017aff;
        position: relative;
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .special-offer-active{
        left: 0px;
        top: 0;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
    }

    .special-offer-banner-wrapper .confetti-wrapepr{
        position: relative;
        top: -100px;
    }

}

@media (max-width: 374px) {
    .chance-box-wrapper p{
        font-size: 25px;
    }
}

.time-estimation-changed p{
    text-align: center;
    color: #017aff;
    font-size: 12px;
}

.services-search{
    max-width: 430px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 60px;
    min-height: 60px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

}

.services-search .autosuggest-input{
    width: 100%;
    border: 1px solid #ceced8;
    padding: 10px;
    padding-left: 20px;
    border-radius: 8px;
    font-size: 16px;
    color: #46475c;;
    outline: none;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.services-search .autosuggest-input:focus{
    border: 1px solid #017aff;
}

.services-search ul {
    list-style: none;
    padding: 10px;
}
.services-search .react-autosuggest__suggestions-list{
    padding: 0;
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    border: solid 1px #bcbcbc;
    z-index: 1;
    overflow: hidden;
}

.services-search .react-autosuggest__suggestion{
    background: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.services-search .react-autosuggest__suggestion--highlighted{
    background: #e4f1ff;
    color: #fff;
}
.services-search .search-img{
    position: absolute;
    right: 25px;
    top: 23px;
    width: 16px;
}
.services-search .suggestion{
    padding: 12px 16px;
    color: #46475c;
    position: relative;

}

.services-search .suggestion:hover{
    cursor: pointer;
}
.services-search .suggestion img{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
}

.new-input-comp, .react-autosuggest__container{
    position: relative;
    max-width: 400px !important;
    margin: 0 auto;
}

.new-input-comp input, .new-input-comp textarea, .react-autosuggest__container .react-autosuggest__input{
    padding: 10px 40px 10px 20px;
    border: solid 1px #ebebeb;
    border-radius: 10px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: -0.1px;
    color: #46475c;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width:100% !important;
    max-width: 400px !important;
    outline: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    resize: none;
}

.react-autosuggest__container .react-autosuggest__input{
    margin: 0 0 15px;
}

.react-autosuggest__container .react-autosuggest__input:focus{
    border: solid 2px #017aff;
}



.react-autosuggest__container .react-autosuggest__suggestions-container--open {
    margin: -25px 0 0;
}

.react-autosuggest__container .react-autosuggest__suggestions-container--open .react-autosuggest__suggestions-list {
    padding: 0;
}

.react-autosuggest__container .react-autosuggest__suggestions-container--open .react-autosuggest__suggestion{
    display: block;
}

.autocomplete-suggestion-item {
    display: block;
    padding: 12.5px 40px 12.5px 20px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    color: #46475c;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    line-height: 1.44;
    letter-spacing: -0.1px;
    cursor: pointer;
    border-radius: 10px;
    -webkit-transition: all .05s ease-in;
    -o-transition: all .05s ease-in;
    transition: all .05s ease-in;
}

.autocomplete-suggestion-item:hover {
    background: #017aff;
    color: white;
}

.bottom-separator {
    /*border-bottom-left-radius: 0;*/
    /*border-bottom-right-radius: 0;*/
    background-image: -webkit-gradient(linear, left top, right top, color-stop(33%, #cccccc), color-stop(0%, rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(left, #cccccc 33%, rgba(255,255,255,0) 0%);
    background-image: -o-linear-gradient(left, #cccccc 33%, rgba(255,255,255,0) 0%);
    background-image: linear-gradient(to right, #cccccc 33%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 19px 1px;
    background-repeat: repeat-x;
}

.input-loader-container{
    position: absolute;
    right: 20px;
    top: 12px;
    z-index: 5;
}

.new-input-comp .invalid-input{
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: -0.2px;
    color: #017aff;
    margin-top: 5px;
    text-align: center;
}

.new-input-comp .invalid-input img{
    margin-right: 5px;
    position: relative;
    top: 2px;
}

/* STATE */

.new-input-comp input:disabled, .new-input-comp textarea:disabled{
    border: solid 1px #ceced8;
}

.new-input-comp input:hover, .new-input-comp textarea:hover{
    border: solid 1px #ceced8;
}

.new-input-comp input:focus, .new-input-comp textarea:focus{
    border: solid 2px #017aff;
}

/* GENERAL */

::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #878c98;
}

::-moz-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #878c98;
}

::-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #878c98;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #878c98;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #878c98;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #878c98;
}

.new-input-comp input:disabled{
    opacity: 0.3;
}

.suggestion-item{
    padding: 15px 10px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: #46515B;
    font-size: 14px;
}

.suggestion-item:hover{
    cursor: pointer;
}
.suggestion-item img{
    margin-right: 10px;
    display: inline-block;
}



.suggestion-item--active{
    background: rgba(18,255,205, 0.5);
    color: #017aff;
}

.autocomplete-dropdown-container{
    position: absolute;
    top:70px;
    width: 100%;
    z-index: 9;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 20px 0 rgba(131, 134, 163, 0.12);
            box-shadow: 0 3px 20px 0 rgba(131, 134, 163, 0.12);
    border: solid 1px #eceef1;
    background-color: #ffffff;
}

.autocomplete-select-address-headline{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px 0;
    padding-left: 15px;
    font-size: 18px;
    color: #46515B;
}

.email-checker-box {
    margin: 15px 0 10px;
}
.email-checker-box span{
    color: #017aff;
}
