html.jsx-615785575,
body.jsx-615785575 {
  margin: 0;
  padding: 0;
}
section.jsx-615785575 {
  margin: 0 auto 90px;
}
.new-service-item.jsx-615785575 {
  background: #fff;
  position: relative;
  box-sizing: border-box;
  padding-left: 10px;
}
.new-service-item.jsx-615785575 a.jsx-615785575 {
  box-sizing: unset;
  height: 41px;
  display: block;
  -webkit-text-decoration: none;
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
  color: #33393d;
  padding-top: 17px;
}
.new-service-item.jsx-615785575 a.jsx-615785575 .images-wrapper.jsx-615785575 {
  position: relative;
  width: 50px;
}
.new-service-item.jsx-615785575
  a.jsx-615785575
  .images-wrapper.jsx-615785575
  img.jsx-615785575 {
  margin: 0;
  height: 25px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.new-service-item.jsx-615785575
  a.jsx-615785575
  .images-wrapper.jsx-615785575
  .img-reg.jsx-615785575,
.new-service-item.jsx-615785575
  a.jsx-615785575
  .images-wrapper.jsx-615785575
  .img-hov.jsx-615785575 {
  width: 50px;
  height: 40px;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-top: -4px;
}
.new-service-item.jsx-615785575
  a.jsx-615785575
  .images-wrapper.jsx-615785575
  .img-reg.jsx-615785575 {
  opacity: 1;
}
.new-service-item.jsx-615785575
  a.jsx-615785575
  .images-wrapper.jsx-615785575
  .img-hov.jsx-615785575 {
  opacity: 0;
}
.new-service-item.jsx-615785575 .service-name.jsx-615785575 {
  text-align: left;
  line-height: 27px;
  padding-left: 52px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.new-service-item.with-border.jsx-615785575 {
  border-bottom: 1px solid #ebebeb;
}
.new-service-item.jsx-615785575 a.jsx-615785575:visited {
  color: #33393d;
}
.new-service-item.jsx-615785575:hover a.jsx-615785575 {
  color: #0161c7;
}
.new-service-item.jsx-615785575:hover
  a.jsx-615785575
  .images-wrapper.jsx-615785575
  .img-reg.jsx-615785575 {
  opacity: 0;
}
.new-service-item.jsx-615785575:hover
  a.jsx-615785575
  .images-wrapper.jsx-615785575
  .img-hov.jsx-615785575 {
  opacity: 1;
}

.new-services-list.jsx-3379004652 {
  min-width: 250px;
  border-radius: 6px;
  position: relative;
  box-shadow: 0 6px 6px 0 rgba(46, 62, 72, 0.12),
    0 0 2px 0 rgba(46, 62, 72, 0.12);
}
.new-services-list.jsx-3379004652 .inner-wrapper.jsx-3379004652 {
  overflow: hidden;
  border-radius: 6px;
}

html.jsx-1192057739,
body.jsx-1192057739 {
  margin: 0;
  padding: 0;
}
section.jsx-1192057739 {
  margin: 0 auto 90px;
}
.puls-button.jsx-1192057739 {
  margin: 0;
  padding: 0;
  display: inline-block;
  border-radius: 2px;
  border: none;
  position: relative;
}
.puls-button.jsx-1192057739 .puls-button-text.jsx-1192057739 {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 18px 30px 22px;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 500;
  border-radius: 2px;
  font-family: Circular-Pro-Book, sans-serif;
  border: none;
  outline: none;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  -webkit-text-decoration: none;
  text-decoration: none;
  box-shadow: none;
  background-color: #017aff;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  will-change: color, box-shadow;
  -webkit-appearance: none;
}
.puls-button.jsx-1192057739 .puls-button-text.secondary.jsx-1192057739 {
  font-size: 16px;
  padding: 13px 25px 17px;
}
.puls-button.jsx-1192057739 .puls-button-text.small.jsx-1192057739 {
  font-size: 16px;
  padding: 10px 20px 13px;
}
.puls-button.jsx-1192057739 .puls-button-text.jsx-1192057739:link {
  color: #ffffff;
}
.puls-button.jsx-1192057739 .puls-button-text.jsx-1192057739:visited {
  color: #ffffff;
}
.puls-button.jsx-1192057739 .puls-button-text.jsx-1192057739:hover {
  background-color: #017ae1;
}
.puls-button.jsx-1192057739 .puls-button-text.jsx-1192057739:active {
  outline: none;
  box-shadow: 0 0 0 1px #017ae1;
}
.puls-button.jsx-1192057739 .puls-button-text.outline.jsx-1192057739 {
  color: #1a5af0;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 1px #1a5af0;
}
.puls-button.jsx-1192057739 .puls-button-text.outline.jsx-1192057739:hover {
  color: #017ae1;
  box-shadow: inset 0 0 0 1px #017ae1;
}
.puls-button.jsx-1192057739 .puls-button-text.outline.jsx-1192057739:active {
  outline: none;
  box-shadow: inset 0 0 0 0 #017ae1, 0 0 0 1px #017ae1;
}
.puls-button.jsx-1192057739 .puls-button-text.no-shadow.jsx-1192057739 {
  box-shadow: none;
}
@media (max-width: 700px) {
  .puls-button.jsx-1192057739 .puls-button-text.jsx-1192057739:active {
    box-shadow: 0 0 0 0 #017ae1;
    background-color: #017ae1;
  }
  .puls-button.jsx-1192057739 .puls-button-text.outline.jsx-1192057739:active {
    background-color: #ffffff;
    color: #017ae1;
    box-shadow: inset 0 0 0 1px #017ae1;
  }
}

.new-book-a-service-wrapper.jsx-2097205288 {
  text-align: right;
}
.new-book-a-service-wrapper.jsx-2097205288 .list-wrapper.jsx-2097205288 {
  display: none;
  margin-top: 14px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.new-book-a-service-wrapper.jsx-2097205288:hover .list-wrapper.jsx-2097205288 {
  display: block;
  opacity: 1;
  visibility: visible;
}

#nav-icon2.jsx-1598829280 {
  width: 60px;
  height: 45px;
  position: relative;
  left: -7px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform: scale(0.4);
  -ms-transform: scale(0.4);
  transform: scale(0.4);
  cursor: pointer;
}
#nav-icon2.jsx-1598829280 span.jsx-1598829280 {
  display: block;
  position: absolute;
  height: 7px;
  width: 50%;
  background: #017aff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
#nav-icon2.jsx-1598829280 span.jsx-1598829280:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}
#nav-icon2.jsx-1598829280 span.jsx-1598829280:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}
#nav-icon2.jsx-1598829280 span.jsx-1598829280:nth-child(1),
#nav-icon2.jsx-1598829280 span.jsx-1598829280:nth-child(2) {
  top: 0px;
}
#nav-icon2.jsx-1598829280 span.jsx-1598829280:nth-child(3),
#nav-icon2.jsx-1598829280 span.jsx-1598829280:nth-child(4) {
  top: 18px;
}
#nav-icon2.jsx-1598829280 span.jsx-1598829280:nth-child(5),
#nav-icon2.jsx-1598829280 span.jsx-1598829280:nth-child(6) {
  top: 36px;
}
#nav-icon2.open.jsx-1598829280 span.jsx-1598829280:nth-child(1),
#nav-icon2.open.jsx-1598829280 span.jsx-1598829280:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#nav-icon2.open.jsx-1598829280 span.jsx-1598829280:nth-child(2),
#nav-icon2.open.jsx-1598829280 span.jsx-1598829280:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#nav-icon2.open.jsx-1598829280 span.jsx-1598829280:nth-child(1) {
  left: 5px;
  top: 7px;
  background: #33393d;
}
#nav-icon2.open.jsx-1598829280 span.jsx-1598829280:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
  background: #33393d;
}
#nav-icon2.open.jsx-1598829280 span.jsx-1598829280:nth-child(3) {
  left: -50%;
  opacity: 0;
  background: #33393d;
}
#nav-icon2.open.jsx-1598829280 span.jsx-1598829280:nth-child(4) {
  left: 100%;
  opacity: 0;
  background: #33393d;
}
#nav-icon2.open.jsx-1598829280 span.jsx-1598829280:nth-child(5) {
  left: 5px;
  top: 29px;
  background: #33393d;
}
#nav-icon2.open.jsx-1598829280 span.jsx-1598829280:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
  background: #33393d;
}

html,
body {
  margin: 0;
  padding: 0;
}
section {
  margin: 0 auto 90px;
}
#puls-header-animated {
  z-index: 3;
}
#puls-header,
#puls-header-animated {
  box-sizing: border-box;
  height: 100px;
  background: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 20px 20px 0px;
}
#puls-header .logo-white-to-blue-wrapper,
#puls-header-animated .logo-white-to-blue-wrapper {
  width: 120px;
  height: 60px;
  display: inline-block;
  position: relative;
}
#puls-header .logo-white-to-blue-wrapper img,
#puls-header-animated .logo-white-to-blue-wrapper img {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
#puls-header .white-image,
#puls-header .blue-image,
#puls-header-animated .white-image,
#puls-header-animated .blue-image {
  position: absolute;
  width: 80px;
  height: 60px;
}
#puls-header .blue-image,
#puls-header-animated .blue-image {
  opacity: 0;
}
#puls-header.header-modal-opend,
#puls-header-animated.header-modal-opend {
  background: #fff;
}
#puls-header .header-inner-wrapper,
#puls-header-animated .header-inner-wrapper {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
}
#puls-header .header-inner-wrapper .book-wrapper,
#puls-header-animated .header-inner-wrapper .book-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s opacity ease-in-out;
  transition: 0.5s opacity ease-in-out;
}
#puls-header .header-inner-wrapper .blinkBelow,
#puls-header .header-inner-wrapper .blinkAbove,
#puls-header-animated .header-inner-wrapper .blinkBelow,
#puls-header-animated .header-inner-wrapper .blinkAbove {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: 0.5s opacity ease-in-out;
  transition: 0.5s opacity ease-in-out;
}
#puls-header .header-inner-wrapper .blinkBelow.hidden,
#puls-header .header-inner-wrapper .blinkAbove.hidden,
#puls-header-animated .header-inner-wrapper .blinkBelow.hidden,
#puls-header-animated .header-inner-wrapper .blinkAbove.hidden {
  visibility: hidden;
  opacity: 0;
}
#puls-header .header-inner-wrapper .head-item-our-services,
#puls-header-animated .header-inner-wrapper .head-item-our-services {
  margin-right: 40px;
  display: inline-block;
  color: #404040;
  font-size: 16px;
}
#puls-header .header-inner-wrapper .head-item-our-services .spacer,
#puls-header-animated .header-inner-wrapper .head-item-our-services .spacer {
  height: 50px;
  width: 100%;
  background: transparent;
}
#puls-header
  .header-inner-wrapper
  .head-item-our-services
  .services-list-wrapper,
#puls-header-animated
  .header-inner-wrapper
  .head-item-our-services
  .services-list-wrapper {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  top: 20px;
  left: 40px;
  width: 270px;
  visibility: hidden;
  opacity: 0;
}
#puls-header
  .header-inner-wrapper
  .head-item-our-services:hover
  .services-list-wrapper,
#puls-header-animated
  .header-inner-wrapper
  .head-item-our-services:hover
  .services-list-wrapper {
  visibility: visible;
  opacity: 1;
}
#puls-header .header-inner-wrapper .head-item,
#puls-header-animated .header-inner-wrapper .head-item {
  display: inline-block;
  vertical-align: baseline;
  margin: 0 40px 0 0;
}
#puls-header .header-inner-wrapper .head-item a,
#puls-header-animated .header-inner-wrapper .head-item a {
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #404040;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
#puls-header .header-inner-wrapper .head-item a:visited,
#puls-header-animated .header-inner-wrapper .head-item a:visited {
  color: #404040;
}
#puls-header .header-inner-wrapper span.head-item-with-transition,
#puls-header-animated .header-inner-wrapper span.head-item-with-transition {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: #fff;
}
#puls-header .header-inner-wrapper .head-item-with-transition a,
#puls-header-animated .header-inner-wrapper .head-item-with-transition a {
  color: #fff;
}
#puls-header .header-inner-wrapper .head-item-with-transition a:visited,
#puls-header-animated
  .header-inner-wrapper
  .head-item-with-transition
  a:visited {
  color: #fff;
}
#puls-header .header-inner-wrapper .head-item-with-transition a[href^="tel:"],
#puls-header-animated
  .header-inner-wrapper
  .head-item-with-transition
  a[href^="tel:"] {
  font-size: 19px;
}
#puls-header .header-inner-wrapper .head-item-with-transition .header-link-icon,
#puls-header-animated
  .header-inner-wrapper
  .head-item-with-transition
  .header-link-icon {
  margin-right: 5px;
}
#puls-header .header-inner-wrapper .phone-on-right-side,
#puls-header-animated .header-inner-wrapper .phone-on-right-side {
  position: absolute;
  top: 20px;
  right: 0;
  margin-right: 20px;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #33393d;
}
#puls-header .header-inner-wrapper .phone-on-right-side img,
#puls-header-animated .header-inner-wrapper .phone-on-right-side img {
  margin-right: 5px;
  vertical-align: middle;
}
#puls-header .header-inner-wrapper .phone-on-right-side span,
#puls-header-animated .header-inner-wrapper .phone-on-right-side span {
  font-size: 16px;
}
#puls-header .header-inner-wrapper .logo-wrapper,
#puls-header-animated .header-inner-wrapper .logo-wrapper {
  display: inline-block;
  margin-right: 40px;
}
#puls-header .header-inner-wrapper .logo-wrapper img,
#puls-header-animated .header-inner-wrapper .logo-wrapper img {
  width: 80px;
  height: 60px;
}
#puls-header.colored-header,
#puls-header-animated.colored-header {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(46, 62, 72, 0.12),
    0 0 2px 0 rgba(46, 62, 72, 0.12);
}
#puls-header.colored-header .logo-white-to-blue-wrapper .white-image,
#puls-header-animated.colored-header .logo-white-to-blue-wrapper .white-image {
  opacity: 0;
}
#puls-header.colored-header .logo-white-to-blue-wrapper .blue-image,
#puls-header-animated.colored-header .logo-white-to-blue-wrapper .blue-image {
  position: absolute;
  opacity: 1;
}
#puls-header.colored-header .book-wrapper,
#puls-header-animated.colored-header .book-wrapper {
  visibility: visible;
  opacity: 1;
}
#puls-header.colored-header span.head-item-with-transition,
#puls-header-animated.colored-header span.head-item-with-transition {
  color: #404040;
}
#puls-header.colored-header .head-item-with-transition a,
#puls-header-animated.colored-header .head-item-with-transition a {
  color: #404040;
}
#puls-header.colored-header .head-item-with-transition a:visited,
#puls-header-animated.colored-header .head-item-with-transition a:visited {
  color: #404040;
}
#puls-header.colored-header .mobile-header #nav-icon2 span,
#puls-header-animated.colored-header .mobile-header #nav-icon2 span {
  background: #0161c7;
}
.headerPlaceholder {
  position: relative;
  height: 100px;
  margin: 0 auto 90px;
}
.mobile-header {
  display: none;
}
@media (max-width: 1500px) {
  #puls-header-animated .header-inner-wrapper .phone-on-right-side {
    right: 65px;
  }
}
@media (max-width: 1024px) {
  #puls-header .logo-white-to-blue-wrapper,
  #puls-header-animated .logo-white-to-blue-wrapper {
    width: 100px;
  }
  #puls-header .header-inner-wrapper .head-item,
  #puls-header .header-inner-wrapper .head-item-our-services,
  #puls-header .header-inner-wrapper .logo-wrapper,
  #puls-header-animated .header-inner-wrapper .head-item,
  #puls-header-animated .header-inner-wrapper .head-item-our-services,
  #puls-header-animated .header-inner-wrapper .logo-wrapper {
    margin-right: 28px;
  }
}
@media (max-width: 900px) {
  .desktop-header {
    display: none;
  }
  .mobile-header {
    display: block;
  }
  #puls-header,
  #puls-header-animated {
    height: 64px;
    padding: 10px;
  }
  #puls-header .mobile-header div[class^="logo-"] ~ .menu-icon-wrapper,
  #puls-header-animated
    .mobile-header
    div[class^="logo-"]
    ~ .menu-icon-wrapper {
    float: right;
  }
  #puls-header .mobile-header div[class^="logo-"] img,
  #puls-header-animated .mobile-header div[class^="logo-"] img {
    width: 50px;
    height: 30px;
    padding-top: 7px;
    padding-left: 20px;
  }
  .headerPlaceholder {
    position: relative;
    height: 64px;
    margin: 0 auto 20px;
  }
}
#puls-header {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(46, 62, 72, 0.12),
    0 0 2px 0 rgba(46, 62, 72, 0.12);
}
.header-modal-opend {
  background: #fff;
}
#puls-header-animated {
  z-index: 3;
}
#puls-header,
#puls-header-animated {
  box-sizing: border-box;
  height: 100px;
  background: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 20px 20px 0px;
}
#puls-header .logo-white-to-blue-wrapper,
#puls-header-animated .logo-white-to-blue-wrapper {
  width: 120px;
  height: 60px;
  display: inline-block;
  position: relative;
}
#puls-header .logo-white-to-blue-wrapper img,
#puls-header-animated .logo-white-to-blue-wrapper img {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
#puls-header .white-image,
#puls-header .blue-image,
#puls-header-animated .white-image,
#puls-header-animated .blue-image {
  position: absolute;
  width: 80px;
  height: 60px;
}
#puls-header .blue-image,
#puls-header-animated .blue-image {
  opacity: 0;
}
#puls-header.header-modal-opend,
#puls-header-animated.header-modal-opend {
  background: #fff;
}
#puls-header .header-inner-wrapper,
#puls-header-animated .header-inner-wrapper {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
}
#puls-header .header-inner-wrapper .book-wrapper,
#puls-header-animated .header-inner-wrapper .book-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s opacity ease-in-out;
  transition: 0.5s opacity ease-in-out;
}
#puls-header .header-inner-wrapper .blinkBelow,
#puls-header .header-inner-wrapper .blinkAbove,
#puls-header-animated .header-inner-wrapper .blinkBelow,
#puls-header-animated .header-inner-wrapper .blinkAbove {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: 0.5s opacity ease-in-out;
  transition: 0.5s opacity ease-in-out;
}
#puls-header .header-inner-wrapper .blinkBelow.hidden,
#puls-header .header-inner-wrapper .blinkAbove.hidden,
#puls-header-animated .header-inner-wrapper .blinkBelow.hidden,
#puls-header-animated .header-inner-wrapper .blinkAbove.hidden {
  visibility: hidden;
  opacity: 0;
}
#puls-header .header-inner-wrapper .head-item-our-services,
#puls-header-animated .header-inner-wrapper .head-item-our-services {
  margin-right: 40px;
  display: inline-block;
  color: #404040;
}
#puls-header .header-inner-wrapper .head-item-our-services .spacer,
#puls-header-animated .header-inner-wrapper .head-item-our-services .spacer {
  height: 50px;
  width: 100%;
  background: transparent;
}
#puls-header
  .header-inner-wrapper
  .head-item-our-services
  .services-list-wrapper,
#puls-header-animated
  .header-inner-wrapper
  .head-item-our-services
  .services-list-wrapper {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  top: 20px;
  left: 40px;
  width: 270px;
  visibility: hidden;
  opacity: 0;
}
#puls-header
  .header-inner-wrapper
  .head-item-our-services:hover
  .services-list-wrapper,
#puls-header-animated
  .header-inner-wrapper
  .head-item-our-services:hover
  .services-list-wrapper {
  visibility: visible;
  opacity: 1;
}
#puls-header .header-inner-wrapper .head-item,
#puls-header-animated .header-inner-wrapper .head-item {
  display: inline-block;
  vertical-align: baseline;
  margin: 0 40px 0 0;
}
#puls-header .header-inner-wrapper .head-item a,
#puls-header-animated .header-inner-wrapper .head-item a {
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #404040;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
#puls-header .header-inner-wrapper .head-item a:visited,
#puls-header-animated .header-inner-wrapper .head-item a:visited {
  color: #404040;
}
#puls-header .header-inner-wrapper span.head-item-with-transition,
#puls-header-animated .header-inner-wrapper span.head-item-with-transition {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: #fff;
}
#puls-header .header-inner-wrapper .head-item-with-transition a,
#puls-header-animated .header-inner-wrapper .head-item-with-transition a {
  color: #fff;
}
#puls-header .header-inner-wrapper .head-item-with-transition a:visited,
#puls-header-animated
  .header-inner-wrapper
  .head-item-with-transition
  a:visited {
  color: #fff;
}
#puls-header .header-inner-wrapper .head-item-with-transition a[href^="tel:"],
#puls-header-animated
  .header-inner-wrapper
  .head-item-with-transition
  a[href^="tel:"] {
  font-size: 19px;
}
#puls-header .header-inner-wrapper .head-item-with-transition .header-link-icon,
#puls-header-animated
  .header-inner-wrapper
  .head-item-with-transition
  .header-link-icon {
  margin-right: 5px;
}
#puls-header .header-inner-wrapper .phone-on-right-side,
#puls-header-animated .header-inner-wrapper .phone-on-right-side {
  position: absolute;
  top: 20px;
  right: 0;
  margin-right: 20px;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #33393d;
}
#puls-header .header-inner-wrapper .phone-on-right-side img,
#puls-header-animated .header-inner-wrapper .phone-on-right-side img {
  margin-right: 5px;
  vertical-align: middle;
}
#puls-header .header-inner-wrapper .phone-on-right-side span,
#puls-header-animated .header-inner-wrapper .phone-on-right-side span {
  font-size: 16px;
}
#puls-header .header-inner-wrapper .logo-wrapper,
#puls-header-animated .header-inner-wrapper .logo-wrapper {
  display: inline-block;
  margin-right: 40px;
}
#puls-header .header-inner-wrapper .logo-wrapper img,
#puls-header-animated .header-inner-wrapper .logo-wrapper img {
  width: 80px;
  height: 60px;
}
#puls-header.colored-header,
#puls-header-animated.colored-header {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(46, 62, 72, 0.12),
    0 0 2px 0 rgba(46, 62, 72, 0.12);
}
#puls-header.colored-header .logo-white-to-blue-wrapper .white-image,
#puls-header-animated.colored-header .logo-white-to-blue-wrapper .white-image {
  opacity: 0;
}
#puls-header.colored-header .logo-white-to-blue-wrapper .blue-image,
#puls-header-animated.colored-header .logo-white-to-blue-wrapper .blue-image {
  position: absolute;
  opacity: 1;
}
#puls-header.colored-header .book-wrapper,
#puls-header-animated.colored-header .book-wrapper {
  visibility: visible;
  opacity: 1;
}
#puls-header.colored-header span.head-item-with-transition,
#puls-header-animated.colored-header span.head-item-with-transition {
  color: #404040;
}
#puls-header.colored-header .head-item-with-transition a,
#puls-header-animated.colored-header .head-item-with-transition a {
  color: #404040;
}
#puls-header.colored-header .head-item-with-transition a:visited,
#puls-header-animated.colored-header .head-item-with-transition a:visited {
  color: #404040;
}
#puls-header.colored-header .mobile-header #nav-icon2 span,
#puls-header-animated.colored-header .mobile-header #nav-icon2 span {
  background: #0161c7;
}
.headerPlaceholder {
  position: relative;
  height: 100px;
  margin: 0 auto 90px;
}
.mobile-header {
  display: none;
}
@media (max-width: 1500px) {
  #puls-header-animated .header-inner-wrapper .phone-on-right-side {
    right: 65px;
  }
}
@media (max-width: 1024px) {
  #puls-header .logo-white-to-blue-wrapper,
  #puls-header-animated .logo-white-to-blue-wrapper {
    width: 100px;
  }
  #puls-header .header-inner-wrapper .head-item,
  #puls-header .header-inner-wrapper .head-item-our-services,
  #puls-header .header-inner-wrapper .logo-wrapper,
  #puls-header-animated .header-inner-wrapper .head-item,
  #puls-header-animated .header-inner-wrapper .head-item-our-services,
  #puls-header-animated .header-inner-wrapper .logo-wrapper {
    margin-right: 28px;
  }
}
@media (max-width: 900px) {
  .desktop-header {
    display: none;
  }
  .mobile-header {
    display: block;
  }
  #puls-header,
  #puls-header-animated {
    height: 64px;
    padding: 10px;
  }
  #puls-header .mobile-header div[class^="logo-"] ~ .menu-icon-wrapper,
  #puls-header-animated
    .mobile-header
    div[class^="logo-"]
    ~ .menu-icon-wrapper {
    float: right;
  }
  #puls-header .mobile-header div[class^="logo-"] img,
  #puls-header-animated .mobile-header div[class^="logo-"] img {
    width: 50px;
    height: 30px;
    padding-top: 7px;
    padding-left: 20px;
  }
  .headerPlaceholder {
    position: relative;
    height: 64px;
    margin: 0 auto 20px;
  }
}
#puls-header {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(46, 62, 72, 0.12),
    0 0 2px 0 rgba(46, 62, 72, 0.12);
}
.header-modal-opend {
  background: #fff;
}

.item.jsx-881438180 {
  font-size: 15px;
  color: #888fad;
  text-align: center;
  width: 150px;
  display: inline-block;
  border-bottom: 3px solid #ecedf2;
  padding-bottom: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.item.selected.jsx-881438180 {
  color: #017aff;
  border-bottom: 3px solid #017aff;
}
.item.jsx-881438180:hover {
  cursor: pointer;
}
@media (max-width: 700px) {
  .item.jsx-881438180 {
    width: 120px;
    padding: 0 23px;
    padding-bottom: 20px;
  }
}

.selection-bar.jsx-3752221477 {
  text-align: center;
  overflow-y: auto;
  padding-bottom: 20px;
}
.bar.jsx-3752221477 {
  width: 750px;
  margin: 0 auto;
}
@media (max-width: 700px) {
  .bar.jsx-3752221477 {
    width: 600px;
  }
}
.selection-bar.jsx-3752221477::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.selection-bar.jsx-3752221477::-webkit-scrollbar-thumb {
  height: 0px;
  background: transparent;
}

.perks.jsx-3694098598 table.jsx-3694098598 {
  width: 100%;
  margin: 0 auto;
}
.perks.jsx-3694098598 table.jsx-3694098598 td.jsx-3694098598 {
  padding-bottom: 10px;
  vertical-align: top;
}
.perks.jsx-3694098598 .icon.jsx-3694098598 {
  width: 26px;
  height: 26px;
  padding-right: 10px;
}
.perks.jsx-3694098598 .description.jsx-3694098598 {
  font-size: 16px;
  line-height: 20px;
  -webkit-letter-spacing: -0.0167px;
  -moz-letter-spacing: -0.0167px;
  -ms-letter-spacing: -0.0167px;
  letter-spacing: -0.0167px;
}
@media (max-width: 333px) {
  .perks-card-container.jsx-3694098598 *.jsx-3694098598 {
    font-size: 14px !important;
  }
}

.plan-wrapper.jsx-569851058 {
  position: relative;
  text-align: left;
}
.inner-plan-wrapper.jsx-569851058 {
  position: relative;
  width: 310px;
  min-height: 425px;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #017aff;
  box-sizing: border-box;
}
.title.jsx-569851058 {
  font-size: 23px;
  font-style: normal;
  line-height: 28px;
  text-align: left;
  color: #017aff;
  margin-bottom: 10px;
}
.sub-title.jsx-569851058 {
  color: #017aff;
  margin-bottom: 10px;
  font-size: 16px;
}
.click-loader.jsx-569851058 {
  position: absolute;
  left: 0;
  text-align: center;
  bottom: 10px;
  width: 100%;
}
.btn.jsx-569851058 {
  position: absolute;
  left: 5%;
  text-align: center;
  -webkit-text-decoration: none;
  text-decoration: none;
  bottom: 10px;
  width: 90%;
  color: white;
  font-size: 16px;
  border: none;
  padding: 14px;
  box-shadow: 0px 3px 13px rgba(1, 122, 255, 0.25);
  border-radius: 5px;
  background: #017aff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.btn.disabled.jsx-569851058 {
  background: #ccc;
  pointer-events: none;
}
span.jsx-569851058 {
  font-size: 13px;
}
.bottom-label-wrapper.jsx-569851058 {
  position: absolute;
  width: 100%;
  bottom: 0;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  text-align: center;
}
.bottom-label-wrapper.jsx-569851058 .appointment-label.jsx-569851058 {
  width: 100%;
  background: #9ce2d4;
  border-radius: 0px 0px 10px 10px;
}
.bottom-label-wrapper.jsx-569851058
  .appointment-label.jsx-569851058
  div.jsx-569851058 {
  padding: 10px 0;
  color: #46475c;
  font-size: 14px;
}
.bottom-label-wrapper.jsx-569851058 .additional-text.jsx-569851058 {
  margin-top: 5px;
  font-size: 12px;
  width: 100%;
}
@media (max-width: 1050px) {
  .plan-wrapper.jsx-569851058 {
    margin: 5px;
    max-width: 600px;
  }
  .title.jsx-569851058 {
    font-size: 21px;
  }
  .sub-title.jsx-569851058 {
    font-size: 15px;
  }
  .inner-plan-wrapper.jsx-569851058 {
    width: 100%;
  }
}

.bubble.jsx-4143647883 {
  position: absolute;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  width: 100%;
  background: #017aff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  padding: 5px 0;
}
.bubble.jsx-4143647883 .text.jsx-4143647883 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  margin-left: 5px;
  vertical-align: text-top;
}
.bubble.jsx-4143647883 img.jsx-4143647883 {
  display: inline-block !important;
}

.plans.jsx-2219792226 {
  margin-bottom: 20px;
}
.header-wrapper.jsx-2219792226 {
  text-align: center;
  margin-bottom: 25px;
}
.header-wrapper.jsx-2219792226 .title.jsx-2219792226 {
  font-size: 30px;
}
.header-wrapper.jsx-2219792226 .sub-title.jsx-2219792226 {
  font-size: 24px;
}
.card-container.jsx-2219792226 {
  display: inline-block;
  padding: 20px;
}
@media (max-width: 1050px) {
  .plans.jsx-2219792226 {
    display: none;
    pointer-events: all;
  }
}

.plans.jsx-125269848 {
  position: relative;
  text-align: center;
  display: none;
}
.plans.jsx-125269848 .slider-wrapper-plans-mobile.jsx-125269848 {
  max-width: 600px;
  margin: 0 auto;
}
.header-wrapper.jsx-125269848 {
  text-align: center;
  margin-bottom: 25px;
}
.header-wrapper.jsx-125269848 .title.jsx-125269848 {
  font-size: 30px;
}
.header-wrapper.jsx-125269848 .sub-title.jsx-125269848 {
  font-size: 24px;
}
@media (max-width: 1050px) {
  .plans.jsx-125269848 {
    display: block;
  }
  .plans.jsx-125269848 .next.jsx-125269848,
  .plans.jsx-125269848 .prev.jsx-125269848 {
    position: absolute;
    right: 10px;
    top: 300px;
    border: none;
    outline: none;
    background: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .plans.jsx-125269848 .next.jsx-125269848:hover,
  .plans.jsx-125269848 .prev.jsx-125269848:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  .plans.jsx-125269848 .prev.jsx-125269848 {
    right: unset;
    left: 10px;
  }
  .plans.jsx-125269848 .prev.jsx-125269848 img.jsx-125269848 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@media (max-width: 700px) {
  .plans.jsx-125269848 .slider-wrapper-plans-mobile.jsx-125269848 {
    max-width: unset;
  }
  .plans.jsx-125269848 .header-wrapper.jsx-125269848 {
    text-align: center;
    margin-bottom: 25px;
  }
  .plans.jsx-125269848 .header-wrapper.jsx-125269848 .title.jsx-125269848 {
    font-size: 23px;
  }
  .plans.jsx-125269848 .header-wrapper.jsx-125269848 .sub-title.jsx-125269848 {
    font-size: 16px;
  }
  .plans.jsx-125269848 .next.jsx-125269848,
  .plans.jsx-125269848 .prev.jsx-125269848 {
    display: none;
  }
}

.slider-wrapper-plans-mobile .slick-track {
  padding: 30px 0 !important;
}
.slider-wrapper-plans-mobile .slick-slider .slick-dots {
  list-style: none;
  text-align: center;
  padding: 0;
  padding-top: 5px;
  margin: 3px 0;
}
.slider-wrapper-plans-mobile .slick-slider .slick-dots li {
  display: inline-block;
  margin: 0 4px;
}
.slider-wrapper-plans-mobile .slick-slider .slick-dots li button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
  border: none;
  outline: none;
  background: #888fad;
  opacity: 0.3;
  color: transparent;
}
.slider-wrapper-plans-mobile .slick-slider .slick-dots .slick-active {
  padding-bottom: 30px;
}
.slider-wrapper-plans-mobile .slick-slider .slick-dots .slick-active button {
  opacity: 1;
}

h2.jsx-1050990592 {
  font-size: 28px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  -webkit-letter-spacing: -0.18px;
  -moz-letter-spacing: -0.18px;
  -ms-letter-spacing: -0.18px;
  letter-spacing: -0.18px;
  text-align: center;
  color: #000000;
  margin-bottom: 10px;
}
.table-wrapper.jsx-1050990592 {
  text-align: center;
}
table.jsx-1050990592 {
  margin: 0 auto;
}
table.jsx-1050990592 th.jsx-1050990592 {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  -webkit-letter-spacing: -0.0167px;
  -moz-letter-spacing: -0.0167px;
  -ms-letter-spacing: -0.0167px;
  letter-spacing: -0.0167px;
  color: #017aff;
  padding: 10px;
}
table.jsx-1050990592 tr.jsx-1050990592 td.jsx-1050990592 {
  padding: 20px 0;
  border-bottom: 1px solid #d9d9d9;
}
table.jsx-1050990592 tr.jsx-1050990592 .img.jsx-1050990592 img.jsx-1050990592 {
  max-height: 50px;
  max-width: 50px;
}
table.jsx-1050990592 tr.jsx-1050990592 .img.jsx-1050990592 div.jsx-1050990592 {
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
  -webkit-letter-spacing: -0.0167px;
  -moz-letter-spacing: -0.0167px;
  -ms-letter-spacing: -0.0167px;
  letter-spacing: -0.0167px;
  color: #46475c;
}
@media (max-width: 1050px) {
  .table-wrapper.jsx-1050990592 {
    padding: 30px;
  }
}

.pricing-section.jsx-2708165770 {
  padding-top: 40px;
  text-align: center;
  min-height: 500px;
}
h2.jsx-2708165770 {
  font-size: 28px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  -webkit-letter-spacing: -0.18px;
  -moz-letter-spacing: -0.18px;
  -ms-letter-spacing: -0.18px;
  letter-spacing: -0.18px;
  text-align: center;
  color: #000000;
  margin-bottom: 10px;
}
h5.jsx-2708165770 {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  text-align: center;
  color: #7d91a5;
  margin-top: 10px;
}
.img-wrapper.jsx-2708165770 img.jsx-2708165770 {
  height: 130px;
}
.disclaimer.jsx-2708165770 {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  color: #7d91a5;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 40px;
  text-align: left;
}
@media (max-width: 700px) {
  .disclamer-wrapper.jsx-2708165770 {
    padding: 0 20px;
  }
  .pricing-section.jsx-2708165770 {
    padding-top: 0px;
  }
}

.pricing-wrapper.jsx-2838850976 {
  padding-top: 80px;
}
h1.jsx-2838850976 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  -webkit-letter-spacing: -0.0167px;
  -moz-letter-spacing: -0.0167px;
  -ms-letter-spacing: -0.0167px;
  letter-spacing: -0.0167px;
  color: #000000;
}
@media (max-width: 700px) {
  .pricing-wrapper.jsx-2838850976 {
    padding-top: 50px;
  }
}

p.jsx-238138380 {
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 34px;
  text-align: center;
  color: #414141;
}
@media (max-width: 700px) {
  p.jsx-238138380 {
    font-size: 18px;
  }
  p.jsx-238138380 img.jsx-238138380 {
    height: 12px;
    position: relative;
    top: -1px;
  }
}

a.jsx-928761891 {
  display: block;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #999;
  margin-bottom: 7px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
a.jsx-928761891:hover {
  color: #555;
}

.label-toggle.jsx-4222844648 {
  display: block;
  margin-bottom: 15px;
}
.label-toggle.jsx-4222844648 img.jsx-4222844648 {
  display: none;
  float: right;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.label-toggle.jsx-4222844648:hover {
  cursor: pointer;
}
@media (max-width: 992px) {
  .wrapper.jsx-4222844648 {
    border-bottom: 1px solid #e5e5e4;
    padding-bottom: 10px;
    margin-bottom: 5px;
  }
  .label-toggle.jsx-4222844648 {
    padding: 10px 0;
    margin-bottom: 0;
  }
  .label-toggle.jsx-4222844648 img.jsx-4222844648 {
    display: inline-block;
  }
  .label-toggle.opened.jsx-4222844648 img.jsx-4222844648 {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .links.jsx-4222844648 {
    height: 0;
    padding-left: 10px;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .links.opened.jsx-4222844648 {
    height: unset;
    max-height: 550px;
  }
}

.hs-signup-container {
  margin-bottom: 30px;
}
.hs-signup-container h5 {
  color: #2f2f2f;
  font-weight: normal;
  font-size: 14px;
  padding-bottom: 10px;
}
.hs-signup-container a {
  color: #2f2f2f;
  -webkit-text-decoration: none;
  text-decoration: none;
}
.hs-signup-container a:hover {
  color: #000;
}
.hs-signup-container input {
  font-size: 14px;
}
.hs-signup-container .puls-hubspot-form {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0;
}
.hs-signup-container .puls-hubspot-form .field > label {
  display: none;
}
.hs-signup-container .puls-hubspot-form .input {
  padding: 0;
  margin: 0;
  left: 0;
  width: 100%;
}
.hs-signup-container .puls-hubspot-form .field {
  margin: 0;
}
.hs-signup-container .puls-hubspot-form .inputs-list {
  padding: 5px 0 0;
  margin: 0;
}
.hs-signup-container .puls-hubspot-form .inputs-list label {
  color: red;
}
.hs-signup-container .puls-hubspot-form .input input {
  width: calc(100% - 140px);
  font-size: 14px;
  margin-right: 17px;
  border-top: 0;
  border-right: 0;
  border-left: none;
  border-bottom: 1px solid #2f2f2f;
  padding: 12px 0;
  box-shadow: none;
  border-radius: 0;
}
.hs-signup-container .puls-hubspot-form .input input:focus {
  border-bottom: 1px solid #2f2f2f;
  box-shadow: none;
}
.hs-signup-container form > div {
  position: static;
  padding: 0;
}
.hs-signup-container form .hs_error_rollup {
  display: none;
}
.hs-signup-container form .actions {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
}
.hs-signup-container form button {
  position: absolute;
  right: 0;
  bottom: 0;
}
.hs-signup-container form .hs-error-msgs.inputs-list {
  list-style: none;
}
.puls-hubspot-submit {
  position: absolute;
  width: auto;
  right: 0;
  top: 0;
  display: block;
  cursor: pointer;
  padding: 11px 25px 13px;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 500;
  border-radius: 2px;
  font-family: Circular-Pro-Book, sans-serif;
  border: none;
  outline: none;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  -webkit-text-decoration: none;
  text-decoration: none;
  box-shadow: none;
  background-color: #017aff;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  will-change: color, box-shadow;
  -webkit-appearance: none;
}
.puls-hubspot-submit.secondary {
  font-size: 16px;
  padding: 13px 25px 17px;
}
.puls-hubspot-submit.small {
  font-size: 16px;
  padding: 10px 20px 13px;
}
.puls-hubspot-submit:link {
  color: #ffffff;
}
.puls-hubspot-submit:visited {
  color: #ffffff;
}
.puls-hubspot-submit:hover {
  background-color: #017ae1;
}
.puls-hubspot-submit:active {
  outline: none;
  box-shadow: 0 0 0 1px #017ae1;
}

.icon-container.jsx-4217068230 {
  margin: 30px 0;
}
.icon-container.jsx-4217068230 .footer-icon.jsx-4217068230 {
  width: 32px;
  height: 32px;
  background-position: center;
  background-size: cover;
  display: inline-block;
  margin: 0 20px 0 0;
}
.icon-container.jsx-4217068230 .footer-icon.jsx-4217068230:hover {
  opacity: 0.8;
}
.support-me.jsx-4217068230 a.jsx-4217068230 {
  display: inline-block;
  font-size: 14px;
  font-family: Circular-Pro-Book;
  font-weight: 300;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #2f2f2f;
  pointer-events: unset;
  position: relative;
}

.consumer-download-links.jsx-3527149006 {
  margin: 20px 0;
}
.consumer-download-links.jsx-3527149006 a.jsx-3527149006 {
  display: inline-block;
}
.consumer-download-links.jsx-3527149006 a.jsx-3527149006 img.jsx-3527149006 {
  height: 40px;
}
.consumer-download-links.jsx-3527149006 a.jsx-3527149006:first-child {
  margin-right: 20px;
}

.wrapper.jsx-3551113776 {
  margin-bottom: 20px;
}
.wrapper.jsx-3551113776 #footer-end-separetor.jsx-3551113776 {
  margin: 10px 0;
  height: 2px;
  background: #e5e5e4;
}
.wrapper.jsx-3551113776 #copy-left-puls.jsx-3551113776,
.wrapper.jsx-3551113776 #copy-right-puls.jsx-3551113776 {
  color: #999;
  font-size: 12px;
  line-height: 26px;
}
.wrapper.jsx-3551113776 #copy-right-puls.jsx-3551113776 {
  float: right;
}
@media (max-width: 992px) {
  #copy-left-puls.jsx-3551113776,
  #copy-right-puls.jsx-3551113776 {
    float: none;
    display: block;
  }
}
