@import '../../../scss/variables.scss';
@import '../../../scss/fontFamily.scss';

.propertyManagerScreen {
  .signupFormLandingPage {
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    height: 625px;

    .row {
      width: 100%;
      padding: 175px 0 0;
      .content-wrapper {
        h1 {
          font-size: 48px;
          color: #505168;
          font-family: $RobotoBold;
        }
        h4 {
          margin: 30px 0;
          font-family: $RobotoMedium;
          color: #505168;
        }
        .number {
          font-family: $RobotoMedium;
          font-size: 20px;
          color: #505168;
        }
      }
      .form-wrapper {
        .signup-form {
          min-height: 370px;
          max-width: 330px;
          width: 100%;
          padding: 20px;
          box-sizing: border-box;
          border-radius: 5px;
          box-shadow: 0 8px 17px 1px #cacaca;
          background-color: #ffffff;
          .title {
            h4 {
              color: $blue;
              font-family: $RobotoBold;
            }
            h5 {
              color: $blue;
              font-family: $RobotoRegular;
              font-size: 16px;
            }
          }
          .input-fields {
            margin: 15px 0;
            width: 100%;
            input {
              margin: 15px 0;
              width: 100%;
              padding: 7px 15px;
              border-radius: 12px;
              border: 1px solid #cacaca;
              &:focus {
                outline: none;
              }
            }
          }
          button {
            background-color: $blue;
            color: white;
            padding: 15px 100px;
            border-radius: 10px;
            font-family: $RobotoMedium;
            width: 100%;
          }
        }
      }
    }
  }

  .one-stop {
    margin: 75px auto;
  }
  .one-stop-bold-heading {
    text-align: center;
    font-size: 35px;
    color: $black;
    font-family: $RobotoBold;
  }
  .tenants-covered {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f8fbff;
    padding: 50px 0;

    .puls-pro-card {
      border-radius: 9px;
      box-shadow: 0 2px 20px 0 rgb(190, 183, 183);
      overflow: hidden;
      .card-header {
        color: white;
        background-color: #46475c;
        font-family: $RobotoBold;
        font-size: 30px;
      }
      .card-body {
        padding: 30px;
        background-color: white;
        .point {
          display: flex;
          align-items: center;
          padding: 30px 0 30px 10px;
          border-bottom: 1px solid #ebedef;
          &:last-of-type {
            border-bottom: none;
          }
          img {
            width: 22px;
            height: 22px;
          }
          p {
            margin: 0;
            font-family: $RobotoMedium;
            font-size: 18px;
          }
        }
      }
    }
  }
  .center-bold-heading {
    font-size: 44px;
    color: $black;
    font-family: $RobotoBold;
  }
  .property-managers-section {
    .property-manager-saying {
      margin: 75px 0;
    }
  }
}

.propertyManagerScreen {
  .signupFormLandingPage {
    .row {
        @media (max-width: 450px) {
        width: 100%;
        padding: 105px 0 0;
      }
      @media (max-width: 767px) {
        width: 100%;
        padding: 100px 0 0;
      }
    }
  }
}
@media (min-width: 768px) {
  .form-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
  @media (max-width: 450px) {
  .form-wrapper {
    .signup-form {
      height: 200px;
      max-width: 300px;
      width: 20%;
      .input-fields {
        margin: 0 !important;
        width: 100%;
      }
      button {
        width: 100% !important;
        padding: 7px 15px !important;
      }
    }
  }
}
@media screen and (max-width: 767px) and (min-width: 451px) {
  .form-wrapper {
    .signup-form {
      min-height: 340px !important;
      max-width: 300px !important;
      .input-fields {
        margin: 0 !important;
        width: 100%;
      }
      button {
        width: 100% !important;
        padding: 7px 15px !important;
      }
    }
  }
}


.content-wrapper {
@media (max-width: 450px) {
      h1 {
        font-size: 20px !important;
      }
      h4 {
        font-size: 14px;
        margin: 10px 0 !important;
      }
      .number {
        font-size: 14px !important;
      }
}
@media screen and (max-width: 767px) and (min-width: 451px) {
  h1 {
    font-size: 30px !important;
  }
  h4 {
    font-size: 16px;
    margin: 10px 0 !important;
  }
  .number {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 800px) and (min-width: 768px) {
  h1 {
    font-size: 40px !important;
  }
}
}