@import '../../../scss/variables.scss';
@import '../../../scss/fontFamily.scss';

.backgroundPulsImageSection {
  position: relative;
  .big-puls-image {
    position: absolute;
    right: 0;
    z-index: -1;
  }
  .content-container {
    padding: 60px 150px 40px 0;
    .point {
      display: flex;
      align-items: flex-start;
      margin-bottom: 35px;
      img {
        margin-top: 5px;
      }
      p {
        margin: 0;
        font-family: $RobotoBold;
      }
    }
  }
}
