@import '../../../scss/variables.scss';
@import '../../../scss/fontfamily.scss';

.citiesCustomerReviewContainer {
  position: relative;
  background-color: #017aff;
  width: 100%;
  padding: 200px 0 120px;
  color: #fff;
  text-align: center;
  margin-bottom: 75px;
  &:after {
    content: '';
    border: 0 solid transparent;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    //   -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
    border-bottom-width: 100px;
    border-right-width: 100vw;
    border-right-color: #fff;
  }
  h1 {
    font-size: 35px;
    line-height: 45px;
    font-family: $RobotoMedium;
    max-width: 455px;
    margin: 0 auto 59px;
  }
  p {
    font-family: $RobotoRegular;
    font-style: italic;
    font-size: 22px;
    letter-spacing: 1px;
    max-width: 850px;
    margin: 0 auto;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    height: 120px;
    line-height: 42px;
  }
  .stars {
    height: 30px;
    margin: 30px 0;
    line-height: 30px;
  }
  .name {
    font-family: $RobotoRegular;
    font-size: 18px;
    line-height: 36px;
    height: 36px;
    letter-spacing: 0.45px;
  }
}

// ant design tabs styling
.ant-tabs-nav-list .ant-tabs-tab {
  margin: 0 40px;
}
