@import '../../../scss/variables.scss';
@import '../../../scss/fontFamily.scss';

.citiesWherePulsAvailable {
  .row {
    .col-md-2 {
      padding: 0 20px;
      box-sizing: border-box;
      &:first-child {
        padding: 0 20px 0 10px;
      }
      ul {
        margin: 0;
        padding: 0;
        hr {
          margin: 8px 0;
        }
        li {
          font-size: 14px;
          font-weight: bold;
          a {
            font-weight: normal;
            font-size: 14px;
            color: $link-gray;
          }
        }
      }
    }
  }
}
