@import '../../../scss/variables.scss';
@import '../../../scss/fontFamily.scss';

.featuredIn {
  min-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  .images-wrapper {
    margin: 30px 0 75px;
    img {
      height: 25px;
      margin-right: 30px;
      object-fit: contain;
    }
  }
}
