@import '../../../scss/variables.scss';
@import '../../../scss/fontfamily.scss';

.servicesOfferedCard {
  padding: 0;
  min-width: 260px;
  height: 210px;
  margin: 20px;
  box-shadow: 0 5px 14px 0 grey;
  border: 1px solid rgba(218, 220, 228, 0.06);
  border-radius: 10px;
  .services-card-wrapper {
    margin: 75px;
  }
  div.strip {
    border-radius: 10px 10px 0 0;
    height: 16px;
    background: $blue;
  }
  img {
    margin-top: 30px;
    height: 80px;
  }
}
