@import '../../../scss/variables.scss';
@import '../../../scss/fontFamily.scss';

.technicianReviewsCard {
  width: 660px;
  height: 320px;
  box-shadow: 0 15px 45px 0 rgb(194, 189, 189);
  background-color: #fff;
  margin: 60px;
  border-radius: 2px;
  overflow: hidden;
  .review-wrapper {
    padding: 40px 0 0 40px;
    h6 {
      margin: 15px 0 45px;
      font-size: 20px;
      line-height: 1.6;
      color: $black;
      font-family: $RobotoMedium;
    }
    p {
      color: $gray;
    }
  }
  .image-wrapper {
    background-color: #01d1ff;
    width: 100%;
    height: 100%;
    img {
      object-fit: contain;
      //   width: 100%;
      //   height: 100%;
    }
  }
}

.review-wrapper {
  padding: 40px 0 0 5px !important;
  @media (max-width: 700px) {
  h6 {
    margin: 15px 0 45px;
    font-size: 14px !important;
  }
  p {
    color: $gray;
  }
}
}
  .technicianReviewsCard {
    @media only screen
    and (min-device-width : 390px)
    and (max-device-width : 500px) {
      margin: 25% !important;
      width: 250px !important;
      height: 500px !important;
    }
    @media only screen
    and (min-device-width : 200px)
    and (max-device-width : 391px) {
      margin: 20%;
      width: 200px;
      height: 500px;
    }
  }