@import '../../../../scss/variables.scss';
@import '../../../../scss/fontFamily.scss';

.homeAppliancesScreen {
  .mainLandingSection {
    .phone {
      a {
        color: $black;
        font-size: 24px;
        font-family: $RobotoBold;
      }
    }
  }
}
