@import '../../../../scss/variables.scss';
@import '../../../../scss/fontFamily.scss';

.termsAndConditionsScreen {
  margin: 100px auto 0;
  width: 60%;
  h1,
  h3 {
    font-family: $RobotoBold;
    color: $light-black;
    text-transform: uppercase;
  }
  h1 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    color: $light-black;
    font-size: 13px;
    font-family: $RobotoRegular;
    margin-bottom: 10px;
  }
}
