@import './fontFamily.scss';

// global colors variables
$blue: #017aff;
$dark-blue: #017ae1;
$d-blue: #3481d2;
$light-blue: #71b6ff;
$blue-400: #e4f1ff;
$gray: #828b91;
$dark-gray: #555;
$light-gray: #999999;
$lgray: #e5e5e4;
$whitish-gray: #eff2f5;
$black: #33393d;
$light-black: #46515b;
$link-gray: #595959;
$black-400: #46475c;

// global font-family variables
$RobotoBlack: 'RobotoBlack';
$RobotoBlackItalic: 'RobotoBlackItalic';
$RobotoBold: 'RobotoBold';
$RobotoBoldItalic: 'RobotoBoldItalic';
$RobotoItalic: 'RobotoItalic';
$RobotoLight: 'RobotoLight';
$RobotoLightItalic: 'RobotoLightItalic';
$RobotoMedium: 'RobotoMedium';
$RobotoMediumItalic: 'RobotoMediumItalic';
$RobotoRegular: 'RobotoRegular';
$RobotoThin: 'RobotoThin';
$RobotoThinItalic: 'RobotoThinItalic';
